#pieLegend {
	height: 400px;
	margin: auto;
	position: relative;
	width: 400px;
}
#pieLegend canvas {
	height: 100%;
	width: 100%;
}
.pieLegend-legend {
	pointer-events: none;
	position: absolute;
	transition: opacity 300ms;
}
#pieLegend:hover .pieLegend-legend {
	opacity: 0;
}
